{% load static %}
<link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'common/css/dataTables.bootstrap.min.css' %}?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
<link href="{% static 'common/css/select2.min.css' %}?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
<link href="{% static 'common/css/select2-bootstrap.css' %}?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
<link href="{% static 'common/css/font-awesome.css' %}?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
<link href="{% static 'mooring/css/dashboard.css' %}?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet">