{% extends 'mooring/base.html' %}
{% load static %}
{% load django_vite %}

{% block title %}
    Mooring Map - Department of Parks and Wildlife
{% endblock %}

{% block extra_js %}
    {% if use_vite_dev_server %}
        {% vite_hmr_client %}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="parkfinder"></div>
    <script type="text/javascript">
        var parkstayUrl = window.location.protocol + '//' + window.location.host;
    </script>

    {% vite_asset vue3_entry_script_exploreparks app='exploreparks_app' %}
{% endblock %}
