{% extends 'mooring/base.html' %}
{% load static %}

{% block title %}
    Mooring Map - Department of Parks and Wildlife
{% endblock %}

{% block content %}
    <div id="parkfinder"></div>
    <script type="text/javascript">
        var parkstayUrl = window.location.protocol + '//' + window.location.host;
    </script>
    <script type="text/javascript" src="{% static 'exploreparks/js/chunk-vendors.js' %}?ver={{ GIT_COMMIT_HASH }}"></script>
    <script type="text/javascript" src="{% static 'exploreparks/js/main.js' %}?ver={{ GIT_COMMIT_HASH }}"></script>
{% endblock %}
