{% extends 'mooring/base.html' %}
{% load static %}
{% load django_vite %}

{% block title %}
    Mooring booking selector - Department of Biodiversity, Conservation and Attractions
{% endblock %}

{% block extra_js %}
    {% vite_hmr_client app='availability2_app' %} <!-- This tag will include this script only if DJANGO_VITE_DEV_MODE is true, otherwise this will do nothing. -->
{% endblock %}

{% block content %}
    <noscript><div class="container"><div class="row">
        <div class="col-sm-12"><div class="well">
            <h3>Sorry, the mooring site booking selector requires JavaScript support!</h3>
            <p>Please ensure that JavaScript is enabled in your browser.</p>
        </div></div>
    </div></div></noscript>
    <div id="availability"></div>
    <script type="text/javascript">
    {% if ground_id %}    
        var parkstayGroundId = '{{ ground_id|escapejs }}';
    {% endif %}
    </script>

    {% vite_asset vue3_entry_script_availability2 app='availability2_app' %}
{% endblock %}
