<p>Dear {{booking.details.first_name}} {{booking.details.last_name}},</p>

{% if booking.admission_payment %}
    <p>Please find attached the confirmation for your booking number PS{{ booking.id }} and the confirmation for your admission fees number AD{{ booking.admission_payment.id }}.</p>
{% else %}
    <p>Please find attached the confirmation for your booking number PS{{ booking.id }}.</p>
{% endif %}

<p>Print or save the attached confirmation for presentation on arrival and at any time during your stay.</p>

<p><a href="{{ context_processor.EXPLORE_PARKS_TERMS }}">Terms & Conditions</a></p>

{% if 'imnotusingthisuntilpvsstartstakingbookings' == 'disabled' %}
<p>Contact us about your booking</p>

{% for contact in contact_list %}
    <p>{{ contact.moorings }}<br/>
        {{ contact.phone }}<br/>
        {{ contact.email }}</p>
{% endfor %}
<br/>
{% endif %}



<a href="{{my_bookings}}">View my bookings</a>
<div style=''>
   <p style='margin: 15px; color: #8a6d3b; background-color: #fcf8e3; padding: 15px; margin-bottom: 20px; border: 1px solid #faebcc; border-radius: 4px;'>
      <i>There are extra measures in place to help you to travel safe at Rottnest Island and to ensure the safety of all visitors, staff and community.<br>
Being COVID safe is a shared responsibility so please take the time to familiarise yourself with <a href='https://rottnestisland.com/covid19-updates/travel-safe'>the safe practices</a> that we ask you to follow during your visit at Rottnest Island.</i>
   </p>
</div>

