{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}
{% block extra_css %}

    <link href="/static/ledger/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common/css/dataTables.bootstrap.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2-bootstrap.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/font-awesome.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/bootstrap-datetimepicker.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'mooring/css/dashboard.css' %}?ver={{ GIT_COMMIT_HASH }}">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}
<script src="/static/common/js/bootstrap-datetimepicker.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
<style>
.input-border-error {
	border: 2px solid red; 
	border-radius: 4px; 
	position: absolute;
}		
</style>
<div class="container" id="dashboard-table-container" iistyle='position: relative'>

<a href='{% url 'dash-annual-bookingperiod-group-view' bp_group_id %}' type="button" class="btn btn-primary" style="">Go Back</a><BR><BR>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="title_heading">
        <h1 class="panel-title">
            <a role="button" data-toggle="collapse" href="#search_person_company_collapse" aria-expanded="false" aria-controls="search_person_company_collapse">
                 Booking Period
           </a>
        </h1>
    </div>

    <div class="panel-collapse collapse in" id="search_person_company_collapse" role="tabpanel" aria-labelledby="search_person_company_heading">
        <div class="panel-body">

        <div class="col-lg-12">

	{% load crispy_forms_tags %}

	{% block page_content_inner %}
	<h1>{{ page_heading }}</h1>
	{% crispy form %}
	{% endblock %}
	</div>
   </div>
</div>
<script src="/static/common/js/oracle_refund.js?ver={{ GIT_COMMIT_HASH }}"></script>
<script>

      function check_oracle_codes() {
            var allow_submit = true;
            $('#id_annual_booking_periods_form input').each(
                function(index) {
                    var input = $(this);
                    var id_input = input.attr('id');
                    if (id_input) {
                    var input_oracle_id = id_input.slice(0,26);
                    var id_input_value = $('#'+id_input).val();
                         if (input_oracle_id == 'id_vs_category_oracle_code') {

                            console.log(input.attr('id')+' '+input_oracle_id);
		            console.log(refund_booking.check_oracle_code(id_input_value));
                            if (refund_booking.check_oracle_code(id_input_value) == false) {
				   $('#'+id_input).addClass('input-border-error');
                                   allow_submit = false;
			    } else {
                                   $('#'+id_input).removeClass('input-border-error');
		            }
                         }
                    }
                    // alert('Type: ' + input.attr('type') + 'Name: ' + input.attr('name') + 'Value: ' + input.val());
                }
	    );

            if (allow_submit == true) {
		   $('#id_annual_booking_periods_form').submit();
                  //$('#submit-id-update').attr('disabled', false);
            } else {
                  //$('#submit-id-update').attr('disabled', true);
            }
            
      }
      window.onload= function() {
	    // $('#submit-id-update').attr('disabled', true);
            var startpicker = $('#id_start_time').datetimepicker({
            	                format: 'DD/MM/YYYY HH:mm',
            	            });
            
            var startpicker = $('#id_finish_time').datetimepicker({
            	                  format: 'DD/MM/YYYY HH:mm',
            	            });

      }

</script>




{% endblock %}
