<h3>Vessel Pricing Category</h3>
<div class='rows'>
{% for v in vessel_size_category %}
<div class='col-lg-12'>
	<div class='col-lg-12'>
		<h4>{{ v.name }} ({{ v.start_size }} - {{ v.end_size }})</h4>
	</div>
	<div class='col-lg-6'>
<label for="id_vs_{{ v.id }}" class="control-label ">
     Price
</label>
<div class="controls"> 
   <input class="form-control numberinput" id="id_vessel_size_category_{{ v.id }}" name="vessel_size_category_{{ v.id }}" step="0.01" type="number" value="{{ v.price }}">
</div>
	</div>
	<div class='col-lg-6'>

<label for="id_vsoc_{{ v.id }}" class="control-label ">
	  Oracle Code
</label>

<div class="controls">
   <input class="form-control numberinput" iionblur="check_oracle_codes();" id="id_vs_category_oracle_code_{{ v.id }}" name="vs_category_oracle_code_{{ v.id }}" type="text" value="{{ v.oracle_code }}"></br>
</div>
	</div>

</div>
{% endfor %}
</div>
