{% extends 'mooring/dash/dash_tables.html' %}
{% load static %}
{% load users %}

{% block extra_css %}
    {{ block.super }}
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
{% endblock %}

{% block vue-component %}
    <div id="app">
      <alert :show="showAlert" :type="alertType" :data-alert="alertMessage" :duration="5000">
          <p :text-content.prop="alertMessage"></p>
      </alert>
       <router-view></router-view>
   </div>
{% endblock %}

{% block custom_js %}
    {% if not DEV_STATIC %}
        {% comment %} <script type="text/javascript" src="{% static 'parkstay/js/manifest.js' %}?ver={{ GIT_COMMIT_HASH }}"></script>
        <script type="text/javascript" src="{% static 'parkstay/js/vendor.js' %}?ver={{ GIT_COMMIT_HASH }}"></script>
        <script type="text/javascript" src="{% static 'parkstay/js/parkstay.js' %}?ver={{ GIT_COMMIT_HASH }}"></script> {% endcomment %}

        {% comment %} This is for Bootstrap dropdowns for the main menu.  Somehow this is not bundled even if it is imported in the main.js. {% endcomment %}
        {% comment %} <script type="text/javascript" src="{% static 'common/js/bootstrap.bundle.min.js' %}?ver={{ GIT_COMMIT_HASH }}"></script> {% endcomment %}
        <script type="text/javascript" src="{% static 'moorings_vue/js/chunk-vendors.js' %}?ver={{ GIT_COMMIT_HASH }}" defer></script>
        <script type="text/javascript" src="{% static 'moorings_vue/js/main.js' %}?ver={{ GIT_COMMIT_HASH }}" defer></script>
    {% else %}
        <script type="text/javascript" src="{{ DEV_STATIC_URL }}"></script>
    {% endif %}
{% endblock %}
