{% extends 'mooring/dash/dash_tables.html' %}
{% load static %}
{% load users %}
{% load django_vite %}

{% block extra_css %}
    {{ block.super }}
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
{% endblock %}

{% block vue-component %}
    <div id="app">
      <alert :show="showAlert" :type="alertType" :data-alert="alertMessage" :duration="5000">
          <p :text-content.prop="alertMessage"></p>
      </alert>
       <router-view></router-view>
   </div>
{% endblock %}

{% block extra_js %}
    {% vite_hmr_client app='moorings_app' %} <!-- This tag will include this script only if DJANGO_VITE_DEV_MODE is true, otherwise this will do nothing. -->
{% endblock %}

{% block custom_js %}
    {% vite_asset vue3_entry_script_moorings app='moorings_app' %}
{% endblock %}
