{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}
{% block extra_css %}
    <link href="/static/ledger/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common/css/dataTables.bootstrap.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2-bootstrap.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/font-awesome.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'mooring/css/dashboard.css' %}?ver={{ GIT_COMMIT_HASH }}">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}
    <div class="container" id="dashboard-table-container">
	<div class="well" style="text-align: center;"><h3>Annual Admission Fees</h3></div>
	{% load crispy_forms_tags %}

	{% block page_content_inner %}
	<h1>{{ page_heading }}</h1>
	{% crispy form %}
	{% endblock %}
   </div>
<style>
.tooltip2 {
    position: relative;
    display: inline-block;
}
.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 165px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    text-align: left;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    margin-top: -37px;
    margin-left: -77px;
}
.tooltip2:hover .tooltiptext {
    visibility: visible;
}
.tooltip2 .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

</style>

   {% include "mooring/dash/policy_group_js.html" %}
{% endblock %}
