{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}

{% block extra_css %}
    {% include 'mooring/block_extra_css.html' %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block requirements %}
{% endblock %}

{% block content %}
<div class="container" id="dashboard-table-container">
<a href='{% url 'dash-bookingpolicy' %}' type="button" class="btn btn-primary" style="">Go Back</a><BR><BR>
<div class="card">
    <div class="card-header" role="tab" id="title_policy_for">
        <h2 class="mb-0">
            <a
                class="btn d-flex justify-content-between align-items-center w-100 text-start text-decoration-none"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_policy_for"
                aria-expanded="true"
                aria-controls="collapse_policy_for"
            >
                <h3 class="mb-0">Policy for {{ object.name }}</h3>
            </a>
        </h2>
    </div>

    <div id="collapse_policy_for" role="tabpanel" aria-labelledby="title_policy_for">
        <div class="card-body">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <a href='{% url 'dash-bookingpolicy' %}' type="button" class="btn btn-primary" style="">Back</a>
                    </div>
                        <div class="col-lg-6">
                    </div>
                    <div class="col-lg-3">
                        <span class="pull-right"><a href='{% url 'dash-booking-policy-cancel-option-view' object.id %}' type="button" class="btn btn-primary" style="">Add Policy</a></span>
                    </div>
                </div>
            </div> 
            <div class="col-lg-12">
                {% if cpo_check == False %}
                    <div class="alert alert-danger" role="alert"> <strong>ERROR</strong> Missing Zero day Policy </div>
                {% endif %}
            </div>
            <table width="100%" id='table-policy' class='hover table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline'>
                <thead>
                    <tr><th>ID</th><th>Calculation Type</th><th>Amount/Percentage</th><th>Days</th><th>Action</th></tr>
                </thead>
                <tbody>
                {% for policy in object.cancel_period.all %}
                    <tr><td>{{ policy.id }}</td><td>{{ policy.get_calulation_type_display }}</td><td>{% if policy.calulation_type == 0 %}{{ policy.percentage }}%{% else %}${{ policy.amount }}{% endif %}</td><td>{{ policy.days }}</td><td><a href='{% url 'dash-booking-policy-cancel-option-edit' object.id policy.id %}'>Edit</a></td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script>
function loadTable() {
    $('#table-policy').dataTable({searching: false, paging: true, "pageLength": 25, "order": [[ 3, "desc" ]],
     columnDefs: [
       { 'bSortable': false, type: 'natural-nohtml', targets: 0 }, { 'bSortable': false, 'aTargets':  1 },  {  type: 'natural-nohtml', targets: 3 },{ 'bSortable': false, 'aTargets':  2 }, { 'bSortable': false, 'aTargets':  4 }
     ]
    });
}
window.onload= function() {
    loadTable();
}
</script>
{% endblock %}
