{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}

{% block extra_css %}
    {% include 'mooring/block_extra_css.html' %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block requirements %}
{% endblock %}

{% block content %}
<div class="container" id="dashboard-table-container">
    <div class="card">
        <div class="card-header" id="title_heading" role="tab">
            <h2 class="mb-0">
                <button
                    class="btn d-flex justify-content-between align-items-center w-100 text-start"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#search_person_company_collapse"
                    :aria-expanded="true"
                    aria-controls="search_person_company_collapse"
                >
                    <h3 class="mb-0">Failed Refunds</h3>
                    <span><i class="bi bi-chevron-down fs-4 fw-bold"></i></span>
                </button>
            </h2>
        </div>

        <div
            id="search_person_company_collapse"
            class="collapse show"
            role="tabpanel"
            aria-labelledby="search_person_company_heading"
        >
            <div class="card-body">
                    <form onsubmit="searchRefunds(); return false;" method="GET">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="keyword" class="form-label">Keyword</label>
                                <input
                                    value="{{ keyword }}"
                                    id="keyword"
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter Keyword"
                                />
                            </div>
                            <div class="col-lg-3">
                                <span style="display: none" class="pull-right">
                                    <a href="{% url 'dash-failed_refunds_completed' %}" type="button" class="btn btn-primary" style="">
                                        Completed Refunds
                                    </a>
                                </span>
                                <label for="status" class="form-label">Status</label>
                                <select id="status" class="form-select">
                                    <option value="ALL">All</option>
                                    <option value="0">Pending</option>
                                    <option value="1">
                                        Completed Refunds
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label for="" class="form-label">&nbsp;</label>
                                <div class="col-lg-12">
                                    <span class="">
                                        <button onclick="searchRefunds();" type="button" class="btn btn-primary" style="">
                                            Filter
                                        </button>
                                    </span >
                                </div>
                            </div>
                        </div>
                    </form>

                    <table
                        width="100%"
                        id="table-policy"
                        class="hover table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                    >
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Booking ID</th>
                                <th>Refund Amount</th>
                                {% if show == "TRUE" %}
                                <th>Refund Split</th>
                                {% endif %}
                                <th>Status</th>
                                <th>Completed</th>
                                <th>Completed By</th>
                                <th>Created</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in failedrefunds %}
                            <tr>
                                <td>{{ row.fr.id }}</td>
                                <td>
                                    {% if row.fr.booking %}PS{{ row.fr.booking.id }}{% endif %} {% if row.fr.admission_booking %}AD{{ row.fr.admission_booking.id }}{% endif %}
                                </td>
                                <td>${{ row.fr.refund_amount }}</td>
                                {% if show == "TRUE" %}
                                <!-- only works with cancelled booking not changed booking, work in progress -->
                                <td>
                                    {% for mg in row.mgsplit %} {% if mg.amount > 0 %} {{ mg.name }} : ${{ mg.amount }} <br /> {% endif %} {% endfor %}
                                </td>
                                {% endif %}
                                <td>{{ row.fr.get_status_display }}</td>
                                <td>{{ row.fr.completed_date }}</td>
                                <td>{{ row.fr.completed_by }}</td>

                                <td>{{ row.fr.created }}</td>
                                <td>
                                    {% if row.fr.booking %}
                                    <a
                                        href="{% url 'view_booking_history' row.fr.booking.id %}"
                                        >View History</a
                                    ><br />
                                    <a
                                        href="{% url 'view_refund_booking_history' row.fr.booking.id %}"
                                        >Oracle Refund</a
                                    ><br />
                                    {% endif %}

                                    <a
                                        href="{% url 'dash-complete_failed_refund' row.fr.id %}"
                                        >Mark Completed</a
                                    ><br />
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>

        </div>
    </div>
</div>

<script>
    function loadTable() {
        $("#table-policy").dataTable({
            searching: false,
            paging: true,
            pageLength: 25,
            order: [[0, "asc"]],
            columnDefs: [
                { type: "natural-nohtml", targets: 0 },
                { aTargets: 1 },
                { aTargets: 2 },
                { type: "natural-nohtml", targets: 3 },
            ],
        });
    }

    function searchRefunds() {
        var status = $("#status").val();
        var keyword = $("#keyword").val();

        window.location =
            "{% url 'dash-failedrefunds' %}/?status=" +
            status +
            "&keyword=" +
            keyword;
    }
    window.onload = function () {
        $("#status").val("{{ status }}");
        loadTable();
    };
</script>
<script src="{% static '/common/js/dataTables.min.js' %}?ver={{ GIT_COMMIT_HASH }}"></script>
<script src="{% static '/common/js/dataTables.bootstrap5.min.js' %}?ver={{ GIT_COMMIT_HASH }}"></script>
{% endblock %}
