{% load static %}

{% if request.user.is_staff %}
    <a class="navbar-brand" href="{% url 'dash-campgrounds' %}">
        <div style="inline">
            {% if TEMPLATE_GROUP == 'rottnest' %}
            {% else %}
                <img src="{% static 'wl/img/dpaw_small.png' %}">
            {% endif %}
            Moorings
        </div>
    </a>
{% else %}
    <a class="navbar-brand" href="{% url 'home' %}">
        <div style="inline">
            {% if TEMPLATE_GROUP == 'rottnest' %}
            {% else %}
                <img src="{% static 'wl/img/dpaw_small.png' %}">
            {% endif %}
            My Bookings
        </div>
    </a>
{% endif %}
        
{% if request.user.is_staff %}
    {% include 'mooring/admin_nav_menu.html' %}
{% else %}
{% endif %}

<li class="nav-item"><a class="nav-link " href="{{EXPLORE_PARKS_SEARCH}}">Search For A Mooring</a></li>
