<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
<li><a class="dropdown-item" href="/dashboard/reports">Moorings Reports</a></li>
<li><a class="dropdown-item" href="{{ LEDGER_UI_URL }}/reports?system_id={{ LEDGER_SYSTEM_ID }} ">Financial Reports</a></li>
<li><a class="dropdown-item" href="{{ LEDGER_UI_URL }}/ledger/payments/oracle/payment-totals?system_id={{ LEDGER_SYSTEM_ID }}">Payment Totals</a></li>
<li><a class="dropdown-item" href="{{ LEDGER_UI_URL }}/ledger/payments/oracle/failed-transactions?system_id={{ LEDGER_SYSTEM_ID }}">Failed Refunds {% if ledger_totals.total_failed > 0 %}<span class="badge bg-danger">{{ ledger_totals.total_failed }}</span>{% endif %}</li>
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="{% url 'admissions_cost' %}">Manage Admission Fees</a></li>
<li><a class="dropdown-item" href="{% url 'dash-bookingperiod' %}">Manage Booking Periods</a></li>
<li><a class="dropdown-item" href="{% url 'dash-bookingpolicy' %}">Manage Booking Policies</a></li>
<li><a class="dropdown-item" href="{% url 'dash-annualbookingperiod' %}">Manage Annual Booking Periods</a></li>
